Repository serfatyable/anesthesia-internship-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

chore: initial T1 scaffold
  app/page.tsx
  postcss.config.cjs
  tailwind.config.cjs
  tests/unit/smoke.test.tsx
  tsconfig.tsbuildinfo
  vitest.config.ts
Due: eslint --fix, prettier --write

Chore: ignore local dev sqlite db
  .gitignore
  prisma/dev.db
Due: none

Fix: import getServerSession from next-auth/next for Vercel build
  app/admin/page.tsx
  app/api/export/logs/route.ts
  app/api/logs/route.ts
  app/api/progress/route.ts
  app/api/session/route.ts
  app/api/verifications/route.ts
  app/api/verify-queue/route.ts
  app/debug/status/page.tsx
  lib/rbac.ts
  lib/session.ts
Due: eslint --fix, prettier --write

Fix: safe session.user typing in admin page for Vercel build
  app/admin/page.tsx
Due: eslint --fix, prettier --write

Fix: robust typing for session.user.role on AdminPage
  app/admin/page.tsx
Due: eslint --fix, prettier --write

Fix: correct NextAuth handler import for Vercel build
  app/api/auth/[...nextauth]/route.ts
Due: eslint --fix, prettier --write

Fix: type-safe session check in export logs route (Vercel build)
  app/api/export/logs/route.ts
Due: eslint --fix, prettier --write

Fix: remove unused session; use typed user instead
  app/api/auth/[...nextauth]/route.ts
  app/api/export/logs/route.ts
  lib/auth.ts
  lib/auth/options.ts
  package.json
  tsconfig.tsbuildinfo
  types/next-auth.d.ts
Due: eslint --fix, prettier --write

Prisma: fix header (single datasource + directUrl) and reformat schema
  prisma/schema.prisma
Due: prisma format

Prepare for deployment review - final updates to logs, verification, and auth systems
  prisma/schema.prisma.bak
Due: none

Fix TypeScript errors and add deployment configuration
  app/api/export/logs/route.ts
  lib/auth.ts
  lib/auth/options.ts
  next.config.js
  package.json
  tests/api/progress.test.ts
  tests/api/verifications.test.ts
  tsconfig.tsbuildinfo
  types/next-auth.d.ts
  vercel.json
Due: eslint --fix, prettier --write

Fix Next.js static generation issues for deployment
  .gitignore
  app/api/export/logs/route.ts
  app/api/progress/route.ts
  app/api/session/route.ts
  app/dashboard/page.tsx
  app/login/page.tsx
  next.config.js
Due: eslint --fix, prettier --write

Create professional landing page with modern design and feature showcase
  app/layout.tsx
  app/page.tsx
  components/ConditionalHeader.tsx
Due: eslint --fix, prettier --write

Refactor: Update auth mocks and prisma schema for SQLite
  lib/domain/progress.ts
  lib/rbac.ts
  lib/services/progressService.ts
  prisma/schema.prisma
  tests/api-guards.test.ts
  tests/api/progress.test.ts
  tests/api/verifications.test.ts
  tests/setup.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, prisma format

feat: Implement admin dashboard and refine verification flow
  app/admin/page.tsx
  app/api/verify-queue/route.ts
  app/dashboard/page.tsx
  app/page.tsx
  app/verify/page.tsx
  components/site/admin/AdminDashboard.tsx
  components/site/admin/Analytics.tsx
  components/site/admin/ContentManagement.tsx
  components/site/admin/SystemSettings.tsx
  components/site/admin/UserManagement.tsx
Due: eslint --fix, prettier --write

Refactor: Improve admin dashboard and UI components
  app/admin/page.tsx
  app/api/procedures/route.ts
  app/api/requirements/route.ts
  app/api/verify-queue/route.ts
  app/dashboard/page.tsx
  app/page.tsx
  app/verify/page.tsx
  components/site/CardTile.tsx
  components/site/admin/AdminDashboard.tsx
  components/site/admin/Analytics.tsx
  components/site/admin/ContentManagement.tsx
  components/site/admin/SystemSettings.tsx
  components/site/admin/UserManagement.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat: Implement audit logging and improve verification workflow
  app/api/audit/route.ts
  app/api/logs/route.ts
  app/api/verifications/route.ts
  app/api/verify-queue/route.ts
  app/verify/page.tsx
  components/site/admin/AdminDashboard.tsx
  components/site/admin/Analytics.tsx
  components/site/admin/AuditLogs.tsx
  components/site/dashboard/InternDashboard.tsx
  components/site/dashboard/RotationCard.tsx
  docs/README.md
  lib/domain/progress.ts
  lib/services/auditService.ts
  lib/services/progressService.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write, prisma format

Test: Add overachieved and overachievement percentage to progress
  tests/unit/progress.test.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat: Implement caching and query optimization
  app/api/progress/route.ts
  app/api/verify-queue/route.ts
  components/site/dashboard/OptimizedInternsTable.tsx
  components/ui/LazyLoad.tsx
  components/ui/VirtualList.tsx
  lib/db/config.ts
  lib/hooks/usePerformance.ts
  lib/middleware/compression.ts
  lib/services/cacheService.ts
  lib/services/performanceService.ts
  lib/services/progressService.ts
  lib/services/queryOptimizationService.ts
  lib/utils/pagination.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write, prisma format

Refactor: Switch to SQLite and simplify Verification enum
  prisma/schema.prisma
Due: prisma format

Fix TypeScript linting errors in doctor.ts and commit local changes
  docs/README.md
  package.json
  scripts/doctor.ts
Due: eslint --fix, prettier --write

Refactor: Improve logging, security, and data handling
  app/api/cases/route.ts
  app/api/errors/route.ts
  app/api/health/route.ts
  app/api/intern/[id]/route.ts
  app/api/verifications/route.ts
  app/intern/[id]/page.tsx
  components/ErrorBoundary.tsx
  components/site/dashboard/RotationDetail.tsx
  components/site/dashboard/RotationDetailClean.tsx
  lib/cache/redis.ts
  lib/db.ts
  lib/env.ts
  lib/middleware/csrf.ts
  lib/middleware/security.ts
  lib/progress.ts
  lib/services/progressService.ts
  lib/utils/logger.ts
  lib/utils/monitoring.ts
  package.json
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Refactor: Improve logging, validation, and data handling
  app/api/cases/route.ts
  app/api/errors/route.ts
  app/api/health/route.ts
  app/api/intern/[id]/route.ts
  app/api/verifications/route.ts
  app/dashboard/page.tsx
  app/intern/[id]/page.tsx
  app/pending-approvals/page.tsx
  app/rotations/[name]/page.tsx
  components/ErrorBoundary.tsx
  components/site/dashboard/InternSearchBar.tsx
  components/site/dashboard/RotationDetail.tsx
  components/site/dashboard/RotationDetailClean.tsx
  lib/cache/index.ts
  lib/cache/memory.ts
  lib/db.ts
  lib/env.ts
  lib/progress.ts
  lib/services/progressService.ts
  lib/utils/cache.ts
  lib/utils/logger.ts
  lib/utils/monitoring.ts
  scripts/db-optimization.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Changes made by Agent
  tsconfig.tsbuildinfo
Due: none

Refactor: Improve error handling, validation, and logging
  app/api/auth/signup/route.ts
  app/api/cases/route.ts
  lib/cache/redis.ts
  lib/middleware/errorHandler.ts
  lib/middleware/rateLimit.ts
  lib/middleware/validation.ts
  lib/monitoring/analytics.ts
  lib/optimization/performance.ts
  lib/security/audit.ts
  lib/utils/error-handler.ts
  lib/utils/logger.ts
  lib/utils/validation.ts
  tests/api/auth.test.ts
  tests/api/cases.test.ts
  tests/api/progress.test.ts
  tests/api/verifications.test.ts
  tests/setup.ts
  tests/utils/test-helpers.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Refactor: Skip DB queries in non-prod builds, improve types
  app/dashboard/page.tsx
  app/debug/status/page.tsx
  lib/cache/redis.ts
  lib/optimization/performance.ts
  lib/security/audit.ts
  lib/utils/logger.ts
Due: eslint --fix, prettier --write

Refactor: Improve type safety and nullish coalescing
  lib/progress.ts
  lib/utils/logger.ts
Due: eslint --fix, prettier --write

Refactor: Improve type safety and memory leak detection
  lib/optimization/performance.ts
  lib/security/audit.ts
  lib/utils/logger.ts
Due: eslint --fix, prettier --write

Refactor: Remove unused NextRequest import from performance middleware
  lib/optimization/performance.ts
Due: eslint --fix, prettier --write

Refactor: Update Prisma, CI, and Zod usage
  .github/workflows/ci.yml
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/signup/route.ts
  lib/env.ts
  package.json
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Add MIT License
  LICENSE
Due: none

Add README.md file to describe the project purpose, features, setup instructions, and contribution guidelines.
  README.md
Due: prettier --write

feat: Add app preview page with UI mockups
  app-preview.html
Due: none

Improve mobile responsiveness across dashboard components
  app/admin/monitoring/page.tsx
  app/api/monitoring/health/route.ts
  app/api/requirements/route.ts
  components/site/dashboard/DashboardOverview.tsx
  components/site/dashboard/InternsTable.tsx
  components/site/dashboard/KpiRow.tsx
  components/site/dashboard/RotationCard.tsx
  next.config.js
  tests/component/RotationCard.test.tsx
  tests/component/SkeletonLoader.test.tsx
  tests/config/test-utils.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{md,css,json})
  prisma format: any of: prisma/schema.prisma
