Repository serfatyable/anesthesia-internship-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{md,css,json}": ["prettier --write"],
  "prisma/schema.prisma": ["prisma format"]
}

Add comprehensive API tests for better coverage
  tests/api/procedures.test.ts
  tests/api/requirements.test.ts
  tests/api/session.test.ts
Due: eslint --fix, prettier --write

feat: pagination, cache headers, error boundary; safe prod migration prep; build clean
  app/api/logs/route.ts
  app/api/procedures/route.ts
  app/api/verify-queue/route.ts
  app/error.tsx
  lib/services/logs.ts
  migrate-to-postgres.sql
  next.config.js
  prisma/schema.prisma
  safe_migration.sql
  safe_migration_adjusted.sql
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, prisma format

chore(vercel): remove builds to fix functions conflict
  vercel.json
Due: prettier --write

fix: adjust monitoring thresholds for serverless environment
  lib/monitoring/health.ts
  lib/monitoring/index.ts
  lib/monitoring/production.ts
Due: eslint --fix, prettier --write

feat: enforce canonical domain via middleware (308 redirect)
  middleware.ts
Due: eslint --fix, prettier --write

fix(db): align Verification.status to Postgres enum (VerificationStatus)
  prisma/schema.prisma
Due: prisma format

fix: remove admin redirect causing 404
  vercel.json
Due: prettier --write
